/*
Theme Name: Gå klart din skola
Description: Stripped twentyeleven child theme with background_color, text_color and opacity settings in content.php.
Version: 0.1
Author: Marielle Söreling, Jonas Hjalmarson
Template: twentyeleven
*/

@import url("../twentyeleven/style.css");

body {
	background: white;
}
body.custom-background {
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}
#page {
	background: transparent;
}
h1, h2, h3, h4, h5 {
    color: inherit !important;
}
p {
    margin: 0 0 10px 0;
}
#branding, #colophon, .entry-header, .entry-meta {
	display:none;
}
.hentry,
.no-results {
	border: 0px;
	border-radius:25px; 
	padding-bottom: 0px;
	margin-bottom: 50px;
}

.entry-content {
	padding:30px 20px 20px 20px;
	margin: 0 auto;
}
img {
    border: 0 !important;
}